.about-us {
    @include px1400{
        padding: 79px 0 70px;
    }

    @include px768-1399{
        padding: 80px 0 72px;
    }

    @include px767{
        padding: 50px 0 38px;
    }

    &__title {
        @include title;
        
        @include px1400{
            margin-bottom: 17px;
            margin-left:-3px;
        }

        @include px1024-1399{
            margin-bottom: 16px;
            margin-left:-3px;
        }

        @include px768-1023{
            margin-bottom: 16px;
        }

        @include px767{
            margin-bottom: 12px;
            margin-left:-1px;
        }
    }

    &__subtitle {
        @include text;

        @include px1400{
            max-width: 68%;
        }

        @include px768-1023{
            margin-left: 2px;
        }

        @include px767{
            font-size: 14px;
            line-height: 29px;
        }
    }
}

