.contacts {

    @include px767{
        padding-bottom: 26px;
    }

    &__container {
        max-width: 1920px;
        margin: 0 auto;

        display: grid;

        @include px768{
            grid-template-areas: "title ."
                                 "subtitle card"
                                 "contacts card";
        }

        @include px1400{
            grid-template-columns: 35.5% 1fr;
        }

        @include px1024-1399{
            grid-template-columns: 47.6% 1fr;
        }

        @include px768-1023{
            grid-template-columns: 56.2% 1fr;
        }

        @include px767{
            grid-template-areas: "title"
                                 "subtitle"
                                 "card"
                                 "contacts";

            grid-template-columns: 100%;
            grid-template-rows: auto auto 328px auto;

        }
    }

    &__title {
        grid-area: title;
        @include title;

        @include px1400{
            padding-left: 157px;
            margin-bottom: 17px;
        }

        @include px768-1399{
            padding-left: $paddingXContainer768;
            margin-bottom: 15px;
        }

        @include px1024-1399{
            margin-left: -4px;
        }

        @include px768-1023{
            margin-left: -2px;
        }

        @include px767{
            width: 100%;
            margin-left: -2px;
            margin-bottom: 8px;
        }
    }

    &__form-subtitle-container{
        grid-area: subtitle;

        @include px768{
            border-top: 1px solid #CACACA;
            border-right: 1px solid #CACACA;
        }

        @include px1400{
            padding: 121px 0 27px 23.4%;
        }

        @include px1024-1399{
            padding: 123px 0 27px 10.4%;
        }

        @include px768-1023{
            padding: 122px 0 27px 12%;
        }

        @include px767{
            margin-left: -2px;
            width: 100%;
        }
    }

    &__form-subtitle {
        display: grid;
        white-space: nowrap;

        &_title {
            @include mini-title;

            @include px768{
                white-space: nowrap;
            }

            @include px1400{
                margin-bottom: 4px;
            }

            @include px1024-1399{
                margin-bottom: 2px;
            }

            @include px768-1023{
                margin-bottom: 4px;
            }
        }

        &_text{
            @include text;

            @include px767{
                font-weight: 400;
                font-size: 14px;

                margin-top: -11px;
            }
        }
    }

    &__form-block {
        grid-area: contacts;

        @include px768{
            border-right: 1px solid #CACACA;
        }

        @include px1400{
            padding: 0 0 122px 23.4%;
        }

        @include px1024-1399{
            padding: 0 0 119px 10.4%;
        }

        @include px768-1023{
            padding: 0 0 119px 12%;
        }

        @include px767{
            width: 100%;
            margin-top: 21px;
        }
    }

    &__form-block-container{
        @include px1024{
            max-width: 77.1%;
        }

        @include px1024-1399{
            margin-top: 4px;
        }

        @include px768-1023{
            max-width: 88.1%;
        }
    }

    &__form {
        display: grid;

        @include px1400{
            margin-bottom: 38px;
        }

        @include px768-1399{
            margin-bottom: 39px;
        }

        @include px767{
            margin-bottom: 20px;
        }
    }

    &__form-title {
        font-weight: normal;
        white-space: nowrap;

        @include px1400{
            margin-bottom: 16px;
        }

        @include px768{
            font-size: 24px;
            line-height: 32px;
        }

        @include px1399{
            margin-bottom: 16px;
        }

        @include px767{
            font-size: 18px;
            line-height: 32px;
        }
    }

    &__input {
        @include text;
        outline: none;
        border: 1px solid #333333;
        border-radius: 100px;

        height: 40px;
        padding: 0 23px;

        transition: border-color 0.3s;

        &:not(:last-child){
            margin-bottom: 22px;
        }

        &:focus{
            border-color: $ACTIV-COLOR;
            transition: border-color 0.3s;
        }
    }

    &__btn {
        position: relative;
        color: $PURPLE;

        font-weight: 600;
        letter-spacing: 0.3px;

        background-color: transparent;
        outline: none;
        border: solid 1px $PURPLE;
        border-radius: 100px;

        cursor: pointer;

        transition: background-color 0.3s, color 0.3s, border-color 0.3s;

        @include px768{
            width: 156px;
            padding: 18px 0;

            font-size: 18px;
        }

        @include px767{
            width: 126px;
            padding: 11px 0;

            font-size: 12px;
        }

        &::after{
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: -1;
            width: 120%;
            height: 140%;

            border: 2px solid transparent;

            border-radius: 100px;

            transition: border-color 0.3s;
        }

        &:hover{
            background-color: $HOVER-COLOR;
            color: white;
            border-color: transparent;

            transition: background-color 0.3s, color 0.3s, border-color 0.3s, transform 0.3s;
        }

        &:focus:not(.focus-visible) {
            border-color: #9D5CD0;
            background-color: transparent;
            color: $WHITE;
        }

        &:focus:not(.focus-visible)::after {
            border-color: transparent;
        }

        &:focus{
            border-color: $HOVER-COLOR;
            background-color: $HOVER-COLOR;
            color: white;

            transition: border-color 0.3s, background-color 0.3s, color 0.3s;
        }

        &:focus::after{
            border-color: $HOVER-COLOR;
            animation:  btnACtive 0.3s normal linear 1;

            transition: border-color 0.3s;
        }

        &:active{
            color: $ACTIV-COLOR !important;
            transform: scale(0.9);
            transition: color 0.3s, transform 0.3s;
        }


    }

    &__connect-title {
        @include mini-title;
        font-weight: 400;

        @include px1400{
            margin-bottom: 16px;
        }

        @include px1024-1399{
            margin-bottom: 16px;
        }

        @include px768-1023{
            margin-bottom: 15px;
        }

        @include px767{
            margin-bottom: 7px;
        }
    }

    &__conntect-list {
        display: flex;

        @include px1400{
            padding-left: 1px;
        }
    }

    &__conntect-item {
        &:not(:last-child){
            margin-right: 21px;
        }

        &:nth-child(1) > a{
            background-image: url('../img/svg/socialNetwork/whatsapp.svg');
        }

        &:nth-child(2) > a{
            background-image: url('../img/svg/socialNetwork/telegram.svg');
        }

        &:nth-child(1) > a::after{
            border: 2px solid rgb(0,255,64);
         }
 
         &:nth-child(2) > a::after{
            border: 2px solid rgb(0,140,255);
         }
    }

    &__conntect-link {
        position: relative;
        outline: none;
        display: inline-block;

        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;

        transition: transform 0.3s;

        @include px768{
            width: 39px;
            height: 39px;
        }

        @include px767{
            width: 50px;
            height: 50px;
        }

        &::after{
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            opacity: 0;

            width: 130%;
            height: 130%;

            background-color: transparent;
            border-radius: 100%;
        }
        
        &:focus:not(.focus-visible) {
            transform: scale(1);
        }

        &:hover{
            transform: scale(1.3) !important;
            transition: transform 0.3s;
        }

        &:focus{
            transform: scale(1.3);
            transition: transform 0.3s;
        }

        &:active::after{
            animation: linkActive 0.3s normal linear 1;
        }
    }

    &__card-block {
        grid-area: card;
        overflow: hidden;
    }
}

[class*="ground-pane"]{
    filter: grayscale(1);
}

@keyframes btnACtive{
    0%{
        width: 100%;
        height: 100%;
    }

    100%{
        width: 120%;
        height: 140%;
    }
}

@keyframes linkActive{
    0%{
        width: 100%;
        height: 100%;
        opacity: 0.2;
    }

    30%{
        width: 110%;
        height: 110%;
        opacity: 0.5;
    }

    60%{
        width: 120%;
        height: 120%;
        opacity: 1;
    }

    80%{
        width: 125%;
        height: 125%;
        opacity: 0.5;
    }

    100%{
        width: 130%;
        height: 130%;
        opacity: 0.2;
    }
}
