.gallery {

    @include px768{
        padding: 80px 0 62px;
    }

    @include px767{
        padding: 50px 0 63px;
    }
    
    
    &__container{
        display: grid;

        @include px1024{
            grid-template-areas: "title slider"
                                 "sort slider"
                                 "txt slider";
            justify-content: space-between;
        }

        @include px1400{
            grid-template-rows: 82px auto 180px;
        }

        @include px1024-1399{
            grid-template-rows: 81px auto 180px;
        }

        @include px1023{
            grid-template-areas: "title ."
                                 "sort ."
                                 "slider slider"
                                  "txt txt";  
            grid-template-rows: auto;
        }

        @include px1400{
            grid-template-columns: 25% 71.9%;
        }

        @include px1024-1399{
            grid-template-columns: 30.3% 64%;
        }

        @include px768-1023{
            grid-template-columns: 42% 1fr;
        }

        @include px767{
            grid-template-columns: 1fr 0px;
        }

    }

    &__title {
        @include title;
        grid-area: title;

        color: $WHITE;

        @include px768{
            margin-left: -3px;
        }

        @include px768-1023{
            margin-bottom: 17px;
        }

        @include px767{
            margin-bottom: 13px;
        }
    }

    &__sort-block{
       grid-area: sort;

       @include px768-1023{
           margin-bottom: 31px;
           z-index: 2;
       }

       @include px767{
           z-index: 2;
           margin-bottom: 41px;
       }
    }

    &__sort-title{
        color: $WHITE;

        font-weight: 600;
        font-size: 16px;
        line-height: 32px;

        @include px1400{
            margin-bottom: 9px;
        }

        @include px1024-1399{
            margin-bottom: 10px;
        }

        @include px768-1023{
            margin-bottom: 9px;
        }

        @include px767{
            margin-bottom: 5px;
        }
    }

    &__info-text {
        grid-area: txt;

        font-weight: 600;
        line-height: 32px;
        font-size: 16px;

        color: $WHITE;

        margin-top: auto;
        margin-bottom: 8px;

        &_link {
            color: $PURPLE;
            outline: none;
            border-bottom: 1px solid transparent;

            transition: color .3s, border-color .3s;

            &:hover{
                color: $HOVER-COLOR;

                transition: color .3s;
            }

            &:focus{
                color: $HOVER-COLOR;
                border-color: $HOVER-COLOR;

                transition: color .3s, border-color .3s;
            }

            &:focus:not(.focus-visible) {
                border-color: transparent;
            }

            &:active{
                color: $ACTIV-COLOR;
                border-color: $ACTIV-COLOR;

                transition: color .3s, border-color .3s;
            }
        }

        @include px1400{
            max-width: 85%;
        }

        @include px1024-1399{
            margin-left: -1px;
        }

        @include px768-1023{
            margin-top: 12px;
        }

        @include px767{
            margin-top: 19px;
        }
    }

    &__slider {
        grid-area: slider;

        max-width: 1150px;
        height: 100%;

        @include px1400{
            margin-top: 24px;
        }

        @include px1024-1399{
            margin-top: 24px;
        }

        @include px767{
             position: relative;
            // padding-bottom: 48px;
        }

    }

    &__slider-container{
        margin-left: auto;
        margin-right: auto;

        @include px1024-1399{
            margin-left: -8px;
            padding-left: 6px;
        }

        @include px767{
            padding-bottom: 51px;
        }
    }

    &__swiper-contrlo-panel{
        display: inline-grid;
        grid-gap: 20px;
        grid-template-columns: repeat(3, auto);
        align-items: center;

        @include px1400{
            margin-left: 3px;
        }

        @include px768-1399{
            margin-left: -2px;
        }

        @include px1024{
            margin-bottom: 23px;
        }

        @include px768-1023{
            margin-bottom: 24px;
        }

        @include px767{
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            z-index: 2;
        }
    }

    &__swiper-button-prev,
    &__swiper-button-next{
        border: 2px solid transparent;
        border-radius: 100%;
        background-color: $GRAY;

        position: relative;
        display: inline-block;

        cursor: pointer;
        outline: none;

        transition: border-color 0.3s, transform 0.2s;

        @include px768{
            width: 30px;
            height: 30px;
        }

        @include px767{
            width: 28px;
            height: 28px;
        }

        &:hover::before,
        &:focus::before{
            background-image:inline-svg("arrow", $HOVER-COLOR );
            transition: background-image 0.3s;
        }

        &:hover,
        &:focus{
            border-color: $HOVER-COLOR;
            transition: border-color 0.3s;
        }

        &:focus:not(.focus-visible) {
            border-color: transparent;
        }

        &:focus:not(.focus-visible)::before {
             background-image:inline-svg("arrow", $WHITE );
        }

        &:active{
            border-color: $ACTIV-COLOR;
            transform: scale(1.1);
            transition: border-color 0.3s, transform 0.2s;
        }

        &:active::before{
            background-image:inline-svg("arrow",$ACTIV-COLOR );
            transition: background-image 0.3s;
        }

        &::before{
            content: '';
            display: block;

            position: absolute;
            top: 50%;
            left: 50%;

            width: 50%;
            height: 50%;

            background-image:inline-svg("arrow", $WHITE );
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;

            transition: background-image 0.3s;
        }
    }

    &__swiper-button-prev{
        &::before{
            transform: translate(-60%, -50%) rotate(180deg);
        }
    }

    &__swiper-button-next{
        &::before{
            transform: translate(-40%, -50%);
        }
    }

    &__swiper-fraction{
        font-weight: 400;
        line-height: 32px;
        font-size: 15px;
        color: $WHITE;
        display: inline-block;
        text-align: center;
    }

    &__swiper-wrapper{
        @include px1400{
            height: 762px;
            padding: 6px 0;
        }

        @include px768-1399{
            height: 606px;
            padding: 6px;
            padding-right: 0;
            margin-left: -6px;
        }
    }

    &__slider-item{
        outline: 3px solid transparent;
        outline-offset: 3px;
        text-align: center;

        display: flex;
        justify-content: center;
        align-items: center;

        overflow: hidden;

        position: relative;

        @include px1400{
            height: calc((100% - 62px) / 2);
        }

        @include px768-1399{
            height: calc((100% - 46px) / 2);
        }

        @include px767{
            height: 367px;
            margin-bottom: 0 !important;
            margin-top: 0 !important;
        }

        &:focus{

            outline-color: $PURPLE;
        }

        &:focus:not(.focus-visible){
            outline-color: transparent;
        }
        
    }

    &__container-img{
        outline-color: red;
        cursor: pointer;
        position: relative;
        visibility: visible;

        transition: border-color .3s;

        &::before,
        &::after{
            content: '';
            display: block;
            position: absolute;
            z-index: 2;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;

            transition: opacity .3s;
        }

        &::before{
            width: calc(100% - 50px);
            height: calc(100% - 50px);
            background-color: black;
        }

        &::after{
            background-image: url('../img/svg/gallery-hover.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;

            width: 30%;
            height: 30%;
        }

        &:hover{
            &::before{
                opacity: 0.5;
                transition: opacity .3s;
            }

            &::after{
                opacity: 1;
                transition: opacity .3s;
            }
        }

        &:active{
            background-color: #D1A9F0;

            &::before{
                opacity: 0.5;
                transition: opacity .3s;
            }

            &::after{
                opacity: 1;
                transition: opacity .3s;
            }
        }

        &:active .gallery__img{
            opacity: 0.5;
            transition: opacity .3s;
        }
    }

    &__img{
        object-fit: cover;
        pointer-events: none;

       // margin-bottom: -3px;
        padding-bottom: 0px;

        transition: opacity .3s;

        @include px1400{
            height: 100%;
        }

        @include px1024-1399{
            width: 100%;
           // max-width: 280px;
            //max-height: 280px;
        }

        @include px768-1023{
            object-fit: cover;
            width: 100%;
           // max-width: 317px;
            //max-height: 280px;
        }

        @include px767{
            height: 100%;
        }
    }
}

.gallery .swiper-button-disabled{
    opacity: 0.3;

    &:hover,
    &:focus{
        border-color: transparent !important;
        cursor: default;
    }

    &:hover::before,
    &:focus::before{
        background-image:inline-svg("arrow", $WHITE );
    }

    &:active{
        transform: scale(1);
    }
}

.bg-gallery-webp{
    background: url('../img/img/gallery/bg/gallery-bg.webp');
}

.bg-gallery-img{
    background: url('../img/img/gallery/bg/gallery-bg.jpg');
}