$BLACK :#000000;
$BLACK-COLOR: #333333;
$GRAY: #666666;
$WHITE: #FFFFFF;
$LIGHT-WHITE: #ECECEC;
$PURPLE: #9D5CD0;


$paddingXContainer1920: 160px;
$paddingXContainer768: 50px;
$paddingXContainer320: 15px;

.container{
    margin: 0 auto;

    @media (min-width: 1400px) {
        max-width: 1920px;
        padding: 0 $paddingXContainer1920;
    }

    @media (min-width: 768px) and (max-width: 1600px) {
        padding: 0 $paddingXContainer768;
    }

    @media (max-width: 767px) {
        padding: 0 $paddingXContainer320;
    }
}

@mixin title {
    font-weight: 400;
    
    @include px768{
        font-size: 48px;
        line-height: 65px;
    }

    @include px767 {
        font-size: 28px;
        line-height: 38px;
    }
}

@mixin mini-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
}

@mixin mini-title2 {
    font-weight: 600;

    @include px768{
        font-size: 24px;
        line-height: 32px;
    }

    @include px767 {
        font-size: 18px;
        line-height: 32px;
    }
}

@mixin text {
    font-weight: 400;
    
    @include px768{
        font-size: 16px;
        line-height: 32px;
    }

    @include px767 {
        font-size: 16px;
        line-height: 32px;
    }
}

.open-modal{
    overflow: hidden;
    &::after{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $BLACK;
        opacity: 0.4;
        z-index: 8;
    }
}