.header .simplebar-scrollbar::before{
    background: white;
    opacity: 1;
    border-radius: 0;
    width: 2px;

    top: 0 !important;
    left: 50%;
    right: 0;
    bottom: 0 !important;

    transform: translateX(-50%);
    

}

.header .simplebar-track{
    background-color: black;
    width: 2px;
}